* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  header {
    background-color: rgb(25, 188, 155);
    text-align: center;
    color: #ffffff;
    padding: 80px;
  }
  
  header > h1 {
    font-size: 44px;
    margin-bottom: 20px;
  }
  
  #menu-bar {
    background-color: #333333;
  }
  
  #menu-bar .menu-item {
    height: 60px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  #menu-bar .menu-item .menu-link {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  #menu-bar .menu-item .menu-link:hover {
    background-color: #444444;
  }
  
  .container #side-bar {
    width: 100%;
    padding: 20px 30px;
    background-color: #f1f1f1;
  }

  .post {
    margin-bottom: 60px;
  }
  
  .title {
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
  
  .sub-title {
    display: block;
    margin-bottom: 20px;
  }
  
  .container #large-image {
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
  }
  
  #large-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #sub-image {
    width: 100%;
    height: 88px;
    margin-bottom: 24px;
  }
  
  #sub-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container #body {
    flex: 1 1 0%;
    padding: 20px 30px;
  }
  
  footer {
    text-align: center;
    padding: 60px 0;
    background-color: #dddddd;
  }

  @media (min-width: 1200px) {
    .container {
      display: flex;
    }
  
    .container #side-bar {
      width: 460px;
      padding: 20px 30px;
      background-color: #f1f1f1;
    }
  
    #menu-bar {
      display: flex;
    }
  
    #menu-bar .menu-item .menu-link {
      padding: 20px 30px;
    }
  }
  
  @media (min-width: 768px) {
    #menu-bar {
      display: flex;
    }

    #menu-bar .menu-item .menu-link {
      padding: 20px 30px;
    }
    
    .container #large-image {
      width: 100%;
      height: 450px;
      margin-bottom: 16px;
    }

    #sub-image {
      width: 100%;
      height: 150px;
      margin-bottom: 24px;
    }
  }
  